/* page styles */

body {
  font-family: "Tajawal", sans-serif;
  margin: 0;
}

button {
  border: none;
  text-decoration: none;
  background: none;
  padding: 0;
  color: inherit;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

/* page styles */

.main-font {
  font-size: 18px;
}

.larger-font {
  font-size: 24px;
}

.dark-font {
  color: #1d3557;
}

.light-font {
  color: #f1faee;
}

.dark_bkg {
  background-color: #1d3557;
}

.container {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.theme {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-main {
  background-color: #f5f5f5;
  padding-right: 10px;
  padding-bottom: 30px;
  flex-grow: 1;
}

.page__item {
  margin-bottom: 30px;
}

.page-header {
  background-color: #1d3557;
  margin: 0;
}

.page-header__descr {
  font-size: 52px;
  margin: 0;
}

.page-main__link {
  color: #457b9d;
}

.page-main__link:hover {
  color: #a8dadc;
}

.about {
  max-width: 1000px;
}

.projects__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.projects__item {
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.projects__item:last-child {
  margin-right: 0;
}

.contacts {
  padding-bottom: 20px;
}

.contacts__email-link {
  color: inherit;
}

.theme__title {
  font-size: 27px;
  margin: 0;
  margin-bottom: 15px;
}

.logo__text {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 24px;
}

.contacts__location {
  margin: 0;
  margin-top: 15px;
}

.contacts__github-link {
  display: block;
  background-image: url("./img/github.png");
  width: 100px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* components */

#dialog {
  display: none;
}

.project_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 620px;
  height: auto;
  padding: 20px;
  border-radius: 7px;
}

.popup_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project_title {
  margin: 0;
}

.popup_close {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.popup_close svg path {
  fill: white;
}

.popup_close .projects__link {
  color: white;
  cursor: pointer;
}

.skills__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 20px;
}

.skills__button {
  display: inline;
  border: 2px solid #1d3557;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  font-size: 24px;
}

/* MAX WIDTH 350 */

@media screen and (max-width: 350px) {
  .projects {
    padding-left: 0;
  }

  .projects__title {
    padding-left: 20px;
  }

  .projects__list {
    padding-left: 10px;
  }

  .projects__item {
    margin-right: 0px;
    overflow: hidden;
  }
}
